<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      As a <strong>Data Scientist</strong>, I've immersed myself in the dynamic realm of <strong>Machine Learning</strong> over the past three years,
        with a particular focus on <strong>Natural Language Processing</strong> and, more recently, <strong>Large Language Models.</strong>

    </p>
    <p>
        By being skillful in a range of exploration and visualisation tools, I excel conducting Data Exploration Analysis
        and compiling insightful narratives out of complex datasets. Yet, in this ever-evolving landscape of data, what
        truly sets me alight is crafting predictive modelling prototypes and bringing pipelines into production systems.
    </p>
    <p>
        Moreover, I hold <strong>over four years of experience</strong> working among cross-functional International teams translating
        business needs into analytical requirements and managing the development of impactful e-commerce initiatives.
    </p>

  </div>
</section>
